In [7]:
def Tower(n,source,destination,auxiliary):
  if n==1:
    print("Move disk 1 from source",source,"to destination",destination)
    return 
  Tower(n-1,source,auxiliary,destination)
  print("Move disk",n,"from source",source,"to destination",destination)
  Tower(n-1,auxiliary,destination,source)

n=int(input("Enter value of n: "))
Tower(n,'A','B','C')

Enter value of n: 5
Move disk 1 from source A to destination B
Move disk 2 from source A to destination C
Move disk 1 from source B to destination C
Move disk 3 from source A to destination B
Move disk 1 from source C to destination A
Move disk 2 from source C to destination B
Move disk 1 from source A to destination B
Move disk 4 from source A to destination C
Move disk 1 from source B to destination C
Move disk 2 from source B to destination A
Move disk 1 from source C to destination A
Move disk 3 from source B to destination C
Move disk 1 from source A to destination B
Move disk 2 from source A to destination C
Move disk 1 from source B to destination C
Move disk 5 from source A to destination B
Move disk 1 from source C to destination A
Move disk 2 from source C to destination B
Move disk 1 from source A to destination B
Move disk 3 from source C to destination A
Move disk 1 from source B to destination C
Move disk 2 from source B to destination A
Move disk 1 from source C to destination A
Move disk 4 from source C to destination B
Move disk 1 from source A to destination B
Move disk 2 from source A to destination C
Move disk 1 from source B to destination C
Move disk 3 from source A to destination B
Move disk 1 from source C to destination A
Move disk 2 from source C to destination B
Move disk 1 from source A to destination B

In [46]:
#Pascal's Triangle in recursive form
def fact(n):
  res=1
  for c in range(1,n+1):
    res=res*c
  return res
rows=int(input("Enter number of rows: ")) 
for i in range(0,rows):
  for j in range(1,rows-i):
    print(" ",end=" ")
  for k in range(0,i+1):
    coff=int(fact(i)/(fact(k)*fact(i-k)))
    print(" ",coff,end="")
print()

Enter number of rows: 3
      1    1  1  1  2  1

In [16]:
class Student:
  def getdetails(self,name,rollnumber):
    print(f"The student's is {self.name} and Roll number is {self.rollnumber}")
    @staticmethod
    def __init__():
      print("Details are as follows")
      
Divyam=Student()
Divyam.name="Divyam"
Divyam.rollnumber=21104089
Divyam.getdetails("name","rollnumber")

The student's is Divyam and Roll number is 21104089

In [23]:
def function(a,b):
  print(a//b)
  print(a%b)

a=int(input("Enter a: "))
b=int(input("Enter b: "))  

function(a,b)
#The function is callable

Enter a: 3
Enter b: 5
0
3

In [25]:
#B.) Part
def function(a,b):
  if b==0:
    print("ERROR")

  
  else:
    print("Quotient is ",a//b," and remainder is ",a%b)
   

a=int(input("Enter a: "))
b=int(input("Enter b: "))      
f=function(a,b)

Enter a: 5
Enter b: 2
Quotient is  2  and remainder is  1

In [30]:
#C.) Part
def function(a,b):
  x=a%b+4
  y=a//b+4
  z=a%b+5
  w=a//b+5
  t=a%b+6
  e=a//b+6
  if (x,y)<(4,4):
    print("Separate values ",(x,y))
  if (z,w)<(4,4):
    print("Separate values ",(z,w))
  if (w,t)<(4,4):
    print("Separate value ",(w,t))    


a=int(input("Enter a: "))
b=int(input("Enter b: "))

function(a,b)

Enter a: 33
Enter b: 56

In [33]:
#D.) Part
def function(a,b):
  return {a//b,a%b}

a=int(input("Enter a: "))
b=int(input("Enter b: "))
f=function(a,b)
print(f)

Enter a: 33
Enter b: 55
{0, 33}

In [43]:
#F.) Part
def function(a,b):
  return {a//b,a%b}

a=int(input("Enter a: "))
b=int(input("Enter b: "))
f=function(a,b)
g=max(f)
h=hash(g)
print("Maximum value is ",g," and Hash value is ",h)

Enter a: 5
Enter b: 1
Maximum value is  5  and Hash value is  5

In [44]:
#E.) Part
def function(a,b):
  return {a//b,a%b}

a=int(input("Enter a: "))
b=int(input("Enter b: "))
f=function(a,b)
g=frozenset(f)
print(g)

Enter a: 2
Enter b: 2
frozenset({0, 1})

In [37]:
class Employee:
  def getdetails(self,name,salary):
    print(f"Name of the employee is {self.name} and Salary is {self.salary}")

name1=Employee()
name2=Employee()
name3=Employee()
name1.name="Mehak"
name1.salary=40000
name2.name='Ashok'
name2.salary=50000
name3.name='Viren'
name3.salary=60000 

name1.getdetails("name","salary")
name2.getdetails("name","salary")
name3.getdetails("name","salary")

Name of the employee is Mehak and Salary is 40000
Name of the employee is Ashok and Salary is 50000
Name of the employee is Viren and Salary is 60000

In [38]:
#Updating Class Variables
class Employee:
  def getdetails(self,name,salary):
    print(f"Name of the employee is {self.name} and Salary is {self.salary}")

  def update(self,name,salary):
    name1.salary=70000
    print(f"Name of the employee is {self.name} and Salary is {self.salary}")  

name1=Employee()
name2=Employee()
name3=Employee()
    

name1.name='Mehak'
name1.salary=40000 
name2.name='Ashok'
name2.salary=50000
name3.name='Viren'
name3.salary=60000



name1.update('name','salary')
name2.getdetails('name','salary')
name3.getdetails('name','salary')

Name of the employee is Mehak and Salary is 70000
Name of the employee is Ashok and Salary is 50000
Name of the employee is Viren and Salary is 60000

In [39]:
class Employee:
  def getdetails(self,name,salary):
 
      print("Name of the employee is ",self.name," and Salary is ",self.salary)  
    



  


    


name1=Employee()
name2=Employee()
name3=Employee()
name1.name='Mehak'
name2.name='Ashok'
name3.name='Viren'
name1.salary=70000
name2.salary=50000
name3.salary=60000

del name3.name
del name3.salary
name1.getdetails('name','salary')
name2.getdetails('name','salary')
name3.getdetails('name','salary')

Name of the employee is  Mehak  and Salary is  70000
Name of the employee is  Ashok  and Salary is  50000

AttributeError: 'Employee' object has no attribute 'name'

In [45]:
#C.) Part
def function(a,b):
  if a//b+4>4:
    print(a//b+4)
  if a%b+4>4:
    print(a%b+4)
  if a//b+5>4:
    print(a//b+5)
  if a%b+5>4:
    print(a%b+5)
  if a//b+6>4:
    print(a//b+6)
  if a%b+6>4:
    print(a%b+6)     
  else:
    print("Quotient is ",a//b," and remainder is ",a%b) 

def intro():
  print("Separated values are as follows-")

      

a=int(input("Enter a: "))
b=int(input("Enter b: "))
intro()

function(a,b)

Enter a: 55
Enter b: 56
Separated values are as follows-
59
5
60
6
61

In [48]:
def Friendship_Test(a,b):
  if a==b:
    print("Friendship of Barbie and George is Fake!!!")

  else:
    print("Friendship of Barbie and George is True")

a=input("George's Turn: ")
b=input("Barbie's Turn: ")
Friendship_Test(a,b)

George's Turn: 5
Barbie's Turn: 5
Friendship of Barbie and George is Fake!!!